.card {
  margin-bottom: calc(var(--ifm-spacing-horizontal) * 2);
  border: 1px solid var(--ifm-color-emphasis-300);
  box-shadow: none;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.buttons {
  a + a {
    margin-left: 0.5em;
  }
}