.card {
  border: 1px solid var(--ifm-color-emphasis-300);
  box-shadow: none;
  height: 100%;

  &Container {
    margin-bottom: calc(var(--ifm-spacing-horizontal) * 2);
  }
}

.image {
  background: #f7f7f7;
  position: relative;
}

.role {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
