@import "../../css/mixins";

.avatarContainer {
  margin-left: 2rem;
  @include small-size {
    margin: 2rem 0 0;
  }
}

$avatar-size: 310px;
.avatar {
  display: block;
  max-width: $avatar-size;
  max-height: $avatar-size;

  img,
  & > div {
    border-radius: 999px;
    max-height: $avatar-size;
  }

  @include small-size {
    margin: 0 auto;
  }
}
