@import "../../css/mixins";

.avatar {
  max-height: 310px;
  border-radius: 999px;

  &Container {
    margin-left: 2rem;
    @include small-size {
      margin: 2rem 0 0;
      text-align: center;
    }
  }
}
