@import "../../css/mixins";

.avatarContainer {
  margin-left: 2rem;
  @include small-size {
    margin: 2rem 0 0;
  }
}

.avatar {
  display: block;
  max-width: 310px;
  max-height: 310px;

  img,
  & > div {
    border-radius: 999px;
  }

  @include small-size {
    margin: 0 auto;
  }
}
