.col {
  --ifm-col-width: 137px;
}

.btn {
  width: 100%;
  border-color: var(--ifm-color-emphasis-300);
  padding: 1rem 0;

  &--active,
  &:active,
  &:hover,
  &:focus {
    .btnText {
      color: var(--ifm-font-color-base-inverse);
    }
  }
}

.btnIcon {
  display: block;
  width: 1.5rem;
  padding: 0.5rem 0;
  margin: 0 auto;
  fill: var(--ifm-button-color);
}

.btnText {
  color: var(--ifm-font-color-base);
}
